{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarSucursal/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="numID_sucursal" name="numID_sucursal" class="form-control" value="{{ misSucursales.id_sucursal }}" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" value="{{ misSucursales.nombre }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" value="{{ misSucursales.direccion }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numTelefono" name="numTelefono" class="form-control" value="{{ misSucursales.telefono }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtCiudad" name="txtCiudad" class="form-control" value="{{ misSucursales.ciudad }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtEstado" name="txtEstado" class="form-control" value="{{ misSucursales.estado }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="numCodigoPostal" name="numCodigoPostal" class="form-control" value="{{ misSucursales.codigo_postal }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
